<%= render Header::Component.new(image: image_url("header-image.jpeg"),
                                 heading: "Login",
                                 subheading: "Write a blog") %>
<div class="d-flex justify-content-center">
  <div class="col-4">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <div class="d-flex mb-4">
        <div class="actions">
          <%= f.submit 'Log in', class: 'btn btn-primary mt-2' %>
        </div>
        <div class="ml-4 pt-1">
          <%= render "users/shared/links" %>
        </div>
      </div>
      <div class="actions">
      </div>
    <% end %>
  </div>
</div>
