<%= render Header::Component.new(image: url_for(@article.avatar.attached? ? @article.avatar : nil),
                                 heading: @article.title,
                                 subheading: (render PostingDetails::Component
                                                      .new(name: "Author", time:@article.created_at))) %>

<p id="notice"><%= notice %></p>

<article class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <%= @article.content %>
        <div class="mt-5">
          <%= render ::Base::Button::Component.new(href: edit_article_path(@article))
                                              .with_content('Edit Blog') %>
          <%= render ::Base::Button::Component.new(type: :danger, href: @article, method: :delete,
                                                   data: { confirm: 'Are you sure?' })
                                              .with_content('Delete Blog') %>
        </div>

        <% if @article.comments.present? %>
          <h3 class="mt-5">All comments</h3>
          <%= render @article.comments %>
        <% end %>

        <h3 class="mt-5">Add a comment</h3>
        <%= render 'comments/form' %>
      </div>
    </div>
  </div>
</article>
